<div class="container">
  <div class="row">
    <% if (speaker) { %>
    <div id="speaker-detail" class="col-lg-6 col-lg-offset-3">
      <div class="row">
        <button
          title="Close (Esc)"
          type="button"
          class="mfp-close text-white"
          style="color: #fff"
        >
          ×
        </button>

        <div class="col-md-4 col-lg-4">
          <img class="img-responsive" src="<%= speaker.image %>" alt="" /><br />
          <i class="fa fa-lg fa-facebook"></i
          ><a href="<%= speaker.facebook %>">Facebook</a><br />
          <i class="fa fa-lg fa-twitter"></i
          ><a href="<%= speaker.twitter %>">Twitter</a><br />
          <i class="fa fa-lg fa-linkedin"></i
          ><a href="<%= speaker.linkedin %>">LinkedIn</a>
        </div>

        <div class="col-md-8 col-lg-8">
          <h2><%= speaker.speakerName %></h2>
          <p>
            <strong style="color: #8fdb00">Topic: </strong> <%= speaker.topicName %>
          </p>
          <h3><%= speaker.designation %></h3>
          <p><%= speaker.Date %></p>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Speaker not found</h2>
    </div>
    <% } %>
  </div>
</div>
